<div>
  <h1 class="container-fluid font-weight-bold text-center display-2 position-absolute top-50 heading">Budget Tracking</h1>
  <div class="text-center container mb-2 fixed-bottom">
    <form action="<%= new_user_session_path %>" method="get">
      <button class="btn btn-primary btn-md container-fluid mb-2">LOG IN</button>
    </form>
    <form action="<%= new_user_registration_path %>" method="get">
      <button class="btn btn-md btn-outline-primary sign_up_btn container-fluid">SIGN UP</button>
    </form>
  </div>
</div>
