/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400;700&family=Outfit:wght@400;700&display=swap");

:root {
  --primary-color: #1266f1;
  --secondary-color: #5fb523;
  --font-color: #434b54;
}


body {
  font-family: "Figtree", "Outfit", sans-serif;
  color: var(--font-color);
}

a,
.sign_up_btn {
  color: var(--font-color);
}

.login-header,
.login-top-btn,
.navbar,
.offcanvas,
.offcanvas-body,
.nav-links,
.close-btn {
  background-color: var(--primary-color);
}

.login-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 5px 3px;
  margin-bottom: 20px;
}

.login-top-btn {
  border: none;
  color: #fff;
  font-size: 1.2rem;
}

.btn-custom {
  background-color: var(--secondary-color);
  border-color: white;
  color: white;
}

.btn-custom:hover {
  background-color: #50a017;
  border: 1px solid white;
  color: white;
}

.forgot-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert {
  z-index: 100;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.humberger,
.closes {
  filter:
    invert(100%) sepia(79%) saturate(100%) hue-rotate(86deg)
    brightness(100%) contrast(119%);
  width: 30px;
}

.close-btn {
  border: none;
}

.offcanvas-title {
  color: #fff;
}

.nav-links {
  border: none;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  font-size: 1.2rem;
}

.offconvase {
  position: absolute;
  top: 1%;
  left: 30%;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
}

.animate {
  animation: fadein 3s infinite;
  color: var(--secondary-color);
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.log_out {
  margin-right: 1rem !important;
}

/* navbar desktop and mobile */

@media (max-width: 992px) {
  .navbar-expand-lg {
    display: none;
  }

  .offcanvas {
    display: block;
  }
}

@media (min-width: 992px) {
  .offcanvas {
    display: none;
  }

  .navbar-expand-lg {
    display: block;
  }

  .profile-image{
    width: 50px;
    height: 50px;
  }
}
